
/* Start Upper Bar */

.upper-bar {
  background-color: #dfe8ec;
  color: #577887;
}

.upper-bar .info {
  margin: 15px 0
}

@media (max-width: 576px) {
  .upper-bar .info:first-child {
    margin-bottom: 0
  }
}

.upper-bar span {
  color: #577887;
  margin-right: 10px;

}
.upper-bar span:before
{
    content: '';
    width: 3px;
    height: 5px;
    color: #00f;
}
.upper-bar .get-quote {
  display: inline-block;
  border: 1px solid #ec1c23;
  padding: 2px 10px;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .upper-bar .get-quote {
    border: none;
    margin-left: 5px
  }
}

/* End Upper Bar */


*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul
{
  list-style: none;
}
a
{
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.banner-area
{
        border-bottom: 9px #f4f4f4 solid;

}

.menu-area
{
    position: static;
}
.mega-area
{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
.task
{
    margin-left: 0px;
    margin-right: 0px;
}
.mega-area1
{
    position: absolute;

    left: 70%;
    
}
.dropdown-item
{
    padding: 5px 0;
}
h5
{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav
{
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar
{
    padding-top: 0px;
    padding-bottom: 0px;

}
.navbar-nav .nav-item .nav-link
{
    color: #f00;
    font-size: 18px;
    
}
.navbar-nav .nav-item:hover
{
    background-color: coral;
}
.bg-light 

{
    background-color: #fff !important;
}
nav .navbar-nav .nav-item 
{
    position: relative;
    float: left;
    margin: 0;
    border-left: 1px #eee solid;
    height: 83px;
}

nav .navbar-nav .nav-item .nav-link 
{
    color: #f00;
    display: block;
    padding: 22px 8px 0;
    height: 83px;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    font-weight: 500px;
}
nav .navbar-nav .nav-item .nav-link i
{
  color: #b8b8b8;
    font-size: 16px;
    display: block;
}
nav .navbar-nav .nav-item .nav-link span 
{
    display: block;
    margin-top: 5px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu 
{
    background-color: #f00;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item 
{
    color: #fff;
    border-bottom: 1px #d03d17 solid;
}


.dropdown-item:hover 
{
    background: #c13715 !important;
}

.navbar-light .navbar-nav .nav-link:hover 
{
    color: #fff;
    background-color: #f00;
}

nav .navbar-nav .nav-item .top-search
{
    position: relative;
    float: right;
    margin-left: 20px;
}
nav .navbar-nav .nav-item .top-search a
{
  color: #e7512f;
  position: relative;
    z-index: 5;
    display: block;
    overflow: hidden;
    margin-top: 20px;
    padding: 0 19px!important;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #eee;
    text-align: center;
    line-height: 55px;

}



/* Start Features */


/* Start slider */
.slider .carousel-item
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider .carousel-one
{
  background-image: url('../img/s1.jpg');
}
.slider .carousel-two
{
  background-image: url('../img/s2.jpg');
}
.slider .carousel-three
{
  background-image: url('../img/s3.jpg');
}
.slider .carousel-item .con-img
{
  position: absolute;
  top: 40%;
  left: 14%;
}

.slider .carousel-item .con-img .one
{
  position: absolute;
  left: 90%;
  top: -60px;
  
}

.slider .carousel-item .con-img .two
{
  position: absolute;
  left: 50%;
  top: 29px;
  
}

.slider .carousel-item .con-img .three
{
  position: absolute;
  left: 70%;
  top: 74px;
  
}

.slider .carousel-item .second-img
{
  
  position: absolute;
  top: 40%;
  left: 23%;
}
.slider .carousel-item .second-img .four
{
  
  position: absolute;
  left: 85%;
  top: 60px;
}

.slider .carousel-item .second-img .fife
{
  
  position: absolute;
  left: 85%;
  top: 60px;
}

.slider .carousel-item .second-img .six
{
  
  position: absolute;
  left: 20%;
  top: -84px;
}

.slider .carousel-item .second-img .seven
{
  
  position: absolute;
  left: 93%;
  top: -100px;
}
.slider .carousel-item .last1
{
  
  position: absolute;
  left: 33%;
  top: 75px;
}
.slider .carousel-item .last2
{
  
  position: absolute;
  left: 50%;
  top:  75px;
}
/* end slider */


.features {
  
  background-color: #f3eeee;
}
.features .services
{
  padding: 50px 0px;
}
.features .services:hover
{
  background-color: #e7512f;

  color: #fff;
}
.features .services i 
{
    background-color: #ed1d24;
    color: #e7512f;
    margin-bottom: 10px;
    width: 103px;
    height: 104px;
    line-height: 97px;
    border: 3px solid #fff;
    background-color: transparent;
    box-shadow: inset 0 0 13px rgba(0,0,0,.4);
    margin-bottom: 30px;
}
.features .services i:hover
{
  
  color: #fff;
  
}
.features h3 {
  color: #777;
  font-size: 22px;
}

.features .services .desc
{
   color: #777;
   font-weight: 800;
   margin-top: 40px;
   margin-bottom: 40px;
}

.features p {
  color: #989898;
  margin-bottom: 40px
}
.features button
{
  background-color: #fff;
    padding: 10px 15px;
    border: none;
}
/* End Features */

/* start skills section */

.our_skills
{
  padding: 80px 0;
}

.our_skills .head-about
{
  color: #e7512f;
  position: relative;
    margin-bottom: 20px;
    padding: 0 0 20px;
    border-bottom: 1px #e2e2e2 solid;
    font-weight: 400;
}


.our_skills .head-about:before
{
  background-color: #e7512f;
  position: absolute;
    bottom: -3px;
    left: 20px;
    width: 35px;
    height: 5px;
    content: "";
    display: inline-block;
}
.our_skills .head-about:after
{
  background-color: #e7512f;
  position: absolute;
    bottom: -1px;
    left: 0;
    width: 80px;
    height: 1px;
    content: "";
    display: inline-block;
}
.our_skills .amet
{
  padding-top: 5px;
  
  


}
.our_skills .amet .amet-bg
{
  position: relative;
    z-index: 4;
    overflow: hidden;
    margin: 0 15px;
    padding: 8px;
    background: #E9E9E9;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}
.our_skills .amet .amet-bg .amet-img
{
  position: relative;
  z-index: 2;
  float: left;
  margin: 0 10px 5px 0;
  max-width: 70px;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  
}
.our_skills .amet .amet-bg span
{
  font-size: 13px;
  color: #777777;
  
}
.our_skills .padd-top
{
  padding-top: 20px;
  margin: 0 0 20px;
    line-height: 22px;
    font-size: 13px;
}
.our_skills .amet .amet .rating
{
  position: relative;
    z-index: 1;
    clear: both;
    overflow: hidden;
    padding: 10px 0 0;
}
.our_skills .amet .amet .rating span .fa
{
    margin-right: 4px;
    color: #ffc000;
    font-size: 15px;
}
.our_skills .amet .amet .rating span .fa-star
{
  content: "\f005";

}
.our_skills .amet :after
{
   position: absolute;
    right: 8px;
    bottom: 8px;
    display: inline-block;
    margin-right: 7px;
    color: #CFCFCF;
    content: "\f10e";
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    font-family: FontAwesome;
    line-height: 1;
}
.our_skills .amet  .amet-name
{
    position: relative;
    margin: 0 5px;
    padding: 6px 0 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
}
.our_skills .amet  .amet-name:before
{
    position: absolute;
    bottom: 9px;
    left: 11px;
    z-index: 0;
    width: 0;
    height: 0;
    border-width: 20px 0 0 23px;
    border-style: solid;
    border-color: #DADADA transparent transparent;
    content: "";
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.our_skills .slick
{
    display: block;
    width: 320px;
    float: left;
    height: 100%;
    min-height: 1px;
}

.our_skills .amet  .amet-name:after
{
    position: absolute;
    right: 9px;
    bottom: 9px;
    z-index: 0;
    width: 0;
    height: 0;
    border-width: 20px 23px 0 0;
    border-style: solid;
    border-color: #DADADA transparent transparent;
    content: "";
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.our_skills .skill-head
{
  color: #e7512f;
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px #e2e2e2 solid;
  font-weight: 400;
}

.our_skills .skill-head:before
{
  background-color: #e7512f;
  position: absolute;
    bottom: -3px;
    left: 20px;
    width: 35px;
    height: 5px;
    content: "";
    display: inline-block;
}
.our_skills .skill-head:after
{
  background-color: #e7512f;
  position: absolute;
    bottom: -1px;
    left: 0;
    width: 80px;
    height: 1px;
    content: "";
    display: inline-block;
}

.our_skills .progress
{
  overflow: hidden;
  background-color: #fff;
  display: block;
}
.our_skills .progress-name 
{
  font-size: 15px;
  font-style: normal;
  margin-bottom: 4px;
  font-weight: 700;
  color: #777;
}
.our_skills .progress-out
{
  position: relative;
  margin: 0 10px 25px 0;
  padding: 0;
  background: #E7E7E7;
}
.our_skills .progress-out span
{
  background: #E7E7E7;
    display: block;
    padding: 0 10px;
    height: 21px;
    width: 54px;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    line-height: 21px;
    position: absolute;
    z-index: 5;
}
.our_skills .progress-out span:before
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 0 10.5px 10px;
    border-color: transparent transparent transparent #E7E7E7;
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 5;
}
.our_skills .progress-in
{
    background-color: #e7512f;
    color: #fff;
    position: relative;
    float: left;
    height: 21px;
}
.our_skills .progress-in:before
{
    border-color: transparent transparent transparent #e7512f;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 0 10.5px 10px;
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 5;
}
.our_skills .progress-out:after
{
  width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 0 10.5px 10px;
    border-color: transparent transparent transparent #E7E7E7;
    content: "";
    display: inline-block;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 0;
}
.overview {
  padding: 80px 0;
  background-color: #fff;
}

.overview .overview-head 
{
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 20px;
    padding: 0 0 20px;
    border-bottom: 1px #e2e2e2 solid;
    font-weight: 400;
    color: #e7512f;

}
.overview .overview-head:before
{
  background-color: #e7512f;
  left: 53%;
  margin-left: -17.5px;
  position: absolute;
    bottom: -3px;
    
    width: 35px;
    height: 5px;
    content: "";
    display: inline-block;
}

.overview .overview-head:after
{
  background-color: #e7512f;
  left: 50%;
  margin-left: -17.5px;
  position: absolute;
    bottom: -1px;
    
    width: 80px;
    height: 1px;
    content: "";
    display: inline-block;
}

@media (max-width: 992px) {
  .overview .overview-head {
    font-size: 30px;
    margin-bottom: 15px
  }
}

.overview p 
{
    margin: 0 0 20px;
    line-height: 22px;
    font-size: 13px;
    color: #777;
}

@media (max-width: 992px) {
  .overview p {
    width: 100%;
  }
}

.overview h4 {
  letter-spacing: 2px;
  font-weight: normal;
  color: #8b8a8a;
  margin-bottom: 40px;
}

.overview button {
  background-color: #ed1d24;
  color: #FFF;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #ed1d24;
}

.stander-picture
{
  padding: 80px 0px; 
}


.stander-picture .stander-head
{
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px #e2e2e2 solid;
  font-weight: 400;
  color: #e7512f;
  text-transform: capitalize;
}
.stander-picture .stander-head:after 
{
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #ff8b38;
    margin: 4px auto;
    position: absolute;
    top: 24px;
    
    top: 46px;
}
.stander-picture .stander-head:before
{
  background-color: #e7512f;
  position: absolute;
  bottom: -4px;
  left: 15px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
z-index: 3;
}



.stander-picture .list-info .ever
{
  color: #e7512f;
  padding-left: 10px;
}
.stander-picture .list-info .ever:before
{
  content: "\f00c";
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 10px;
  font-family: FontAwesome;
}
.stander-picture .list-info .stander-desc
{
    margin: 0 0 20px;
    line-height: 22px;
    font-size: 13px;
    color: #777;
}


/* End Overview */

.stats
{
  background: #eee;
  padding: 80px 0;
}
.stats .item
{
  background: #fff;
  
  padding: 9px 7px;
  margin-right: 33px;
}
.stats .stat-box
{
  background: #fff;
}
.stats .stat-box img
{
   
   width: -1%;
}
.stats .stat-box .owl-carousel .owl-item img
{
  width: -1%;
}
.owl-theme .owl-nav 
{
  margin-top: 10px;
  position: absolute;
  right: 33px;
  bottom: 109px;
}

.stats .cleint-head
{
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px #e2e2e2 solid;
  font-weight: 400;
  color: #e7512f;
  text-transform: capitalize;
}
.stats .cleint-head:after 
{
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #ff8b38;
    margin: 4px auto;
    position: absolute;
    left: 0%;
    z-index: 4;
    top: 46px;
}
.stats .cleint-head:before
{
  background-color: #e7512f;
  position: absolute;
  bottom: -3px;
  left: 15px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
  z-index: 5;
}
.stats .owl-carousel .owl-nav button.owl-prev span
{
  background-color: #777;
  color: #eee;
  font-size: 15px;
  padding: 10px;
  outline: none;
}

.stats .owl-carousel .owl-nav button.owl-next span
{
  background-color: #777;
  color: #eee;
  font-size: 15px;
  padding: 10px;
  outline: none;
}
.stats .owl-dots
{
  display: none;
}
/* Start Testimonials */

.stander-picture img
{
  max-width: 100%;
}








/* Start Stats */

.stat {
  background-image: url('../img/block-bg-2.jpg');
  background-size: cover;
  padding: 100px 0;
  color: #08526d;
  opacity: .9;
  
}

.stat .stat-box {
  margin-bottom: 40px;
  padding: 0px;
}

.stat .stat-box span
{
  display: block;
  padding: 15px 0;
  background-color: #fff;
  font-size: 26px;
  color: #000;
}
.stat .stat-box .have
{
  padding: 45px 0;
  font-size: 40px;
  height: 212px;

}


.stat .stat-box p
{
  background-color: #f00;
  color: #fff;
  padding: 23px 0;
}
.stat .stat-box i
{
  padding: 23px 0;
  background-color: #fff;
  color: #f00;
 font-size: 21px;
 width: 100%;
}
.stat .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
}

.stat p {
  color: #ed1d24;
  font-size: 20px;
  margin: 0
}

/* End Stats */
.work
{
  padding: 80px 0;
  position: relative;
}
.work .heiding
{
  color: #e7512f;
  font-weight: 800;
  border: 0;
  padding: 0;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
.work .heiding span
{
    color: #777;
    font-weight: 100;
}

.work .our-recent .build
{
  max-height: 141px;
  overflow: hidden;
}
.work .our-recent .browse a
{
    color: #fff!important;
    background-color: #777!important;
    border-color: transparent;
}
.work .category
{
    margin: 0 15px;
    background-color: #eee;
}
.work .category .project-name
{
  color: #e7512f;
  display: table;
  margin: auto;
  font-weight: 700;
  font-size: 16px;

}
.work .category span

{
  margin-top: 4px;
  display: block;
  text-align: center;
  font-size: 12px;
}

/* Start Footer */

.footer 
{
  overflow: hidden;
  padding: 60px 0 0px;

  background: #222;
  color: #aaa;
}

.footer .helpful-links .footer-head 
{
  border-bottom: 1px solid #3a3a3a;
  color: #c5c5c5;
  text-transform: uppercase;
  position: relative;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer .helpful-links .footer-head:before
{
  background-color: #e7512f;
  position: absolute;
  bottom: -3px;
  left: 20px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
}
.footer .helpful-links .footer-head:after
{
  background-color: #e7512f;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 80px;
  height: 1px;
  content: "";
  display: inline-block;
}
.footer .contact .footer-head
{

  border-bottom: 1px solid #3a3a3a;
  color: #c5c5c5;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.footer .contact .footer-head:before
{

  background-color: #e7512f;
  position: absolute;
  bottom: -3px;
  left: 20px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
}
.footer .contact .footer-head:after
{
  
  background-color: #e7512f;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 80px;
  height: 1px;
  content: "";
  display: inline-block;
}
.footer .helpful-links
{
  position: relative;
}



.footer ul li
{
  
  padding: 7px 0;
  color: #9E9E9E;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 13px;
}
.footer ul li:hover
{
  color: #e7512f;

}

.footer .site-info p {
  line-height: 1.8;
  color: #727272
}

.footer .site-info a {
  color: #08526d;
  font-size: 15px;
  font-weight: bold;
}

.footer .site-info a:before {
  font-family: 'FontAwesome';
  content: "\f138";
  display: inline-block;
  margin-right: 5px;
}

.footer .helpful-links h2,
.footer .contact h2 {
  font-size: 22px;
  color: #08526d;
  margin-bottom: 68px;
}

.footer .helpful-links ul li:before {
  font-family: 'FontAwesome';
  content: "\f054";
  margin-right: 5px;
  color: #5b5b5b;
  font-size: 12px;
  position: relative;
  top: -1px;
}

.footer .contact ul li {
  margin-bottom: 24px;
}
.footer .contact .tags a
{
  display: block;
  float: left;
  margin: 3px;
  padding: 8px 6px;
  background: #2C2C2C;
  color: #C4C4C4;
  font-size: 11px;
  text-decoration: none;
  transition: 0.5s
}
.footer .contact .tags a:hover
{
    background-color: #e7512f;
    color: #fff;
}
@media (max-width: 992px) 
{
  .footer .helpful-links h2,
  .footer .contact h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer .contact ul li {
    margin-bottom: 5px;
  }
}



.footer hr 
{
  clear: both;
  margin: 50px 15px;
  border-top: 1px #3A3A3A solid;
}
.footer hr.hr-style:before 
{
  background: #222;
  color: #3A3A3A;
}
.hr-style:before 
{
  left: 44%;
  margin-top: 0;
  width: 5%;
  content: "\f1d8";
  text-align: center;
  font-size: 20px;
  font-family: FontAwesome;
  line-height: 1px;
}
hr:before 
{
  position: absolute;
  top: -1px;
  left: 0;
  display: inline-block;
  width: 20%;
  height: 1px;
  content: "";
}


.footer hr.hr-style:after, .footer hr.hr-style:before 
{
  background: #222;
  color: #3A3A3A;
}

.hr-style:after 
{
  right: 44%;
  margin-top: 0;
  width: 5%;
  content: "\f1d8";
  text-align: center;
  font-size: 20px;
  font-family: FontAwesome;
  line-height: 1px;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

hr:after 
{
  position: absolute;
  top: -1px;
  right: 0;
  display: inline-block;
  width: 20%;
  height: 1px;
  content: "";
}
.footer hr 
{
  clear: both;
  margin: 50px 15px;
  border-top: 1px #3A3A3A solid;
}
hr 
{
  position: relative;
  display: block;
  overflow: visible;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px #eeeded solid;
}
/* End Footer */

/* End Footer */
.footer-second
{
  overflow: hidden;
  padding: 0px 0 0px;
  border-bottom: 1px #0f0f0f solid;
  background: #222;
  color: #aaa;
  
}
.footer-second .info-footer .footer-head
{
  border-bottom: 1px solid #3a3a3a;
    color: #c5c5c5;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer-second .info-footer .footer-head:before
{
  background-color: #e7512f;
  position: absolute;
  top: 32px;
  left: 20px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
}
.footer-second .info-footer .footer-head:after
{
  background-color: #e7512f;
  position: absolute;
  top: 35px;
  left: 0;
  width: 80px;
  height: 1px;
  content: "";
  display: inline-block;
}
.footer-second .contact .footer-head
{
  
    border-bottom: 1px solid #3a3a3a;
    color: #c5c5c5;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-second .contact .footer-head:after
{
  
  background-color: #e7512f;
  position: absolute;
  top: 35px;
  left: 0;
  width: 80px;
  height: 1px;
  content: "";
  display: inline-block;
}

.footer-second .contact .footer-head:before
{

  background-color: #e7512f;
  position: absolute;
  top: 32px;
  left: 20px;
  width: 35px;
  height: 5px;
  content: "";
  display: inline-block;
}

.footer-second .info-footer .product
{
  margin: 20px 20px 8px;
  text-align: center;
  font-size:12px;
}
.footer-second .info-footer ul li
{
  font-size: 13px;
  padding: 7px 0;
  color: #6a6a6a;
}
.footer-second .info-footer ul li a
{
  color: #6a6a6a;
}
.footer-second .info-footer ul li i
{
  
  padding: 0 12px 0 0;
  color: #6a6a6a;
  vertical-align: middle;
  font-size: 18px;
}
.footer-second .contact .multi-image li
{
    position: relative;
    float: left;
    margin: 0 1px 1px 0;
}
.footer-second .contact .multi-image li a
{
  height: 61px;

}
.footer-second .contact .multi-image li a img
{
    width: 61px;
    height: 61px;
}

.footer-second .NL
{
  position: relative;
    overflow: hidden;
    padding: 10px 0;
    margin: auto 15px;
}
.footer-second .NL:before {
  position: absolute;
  top: 16px;
  left: 24px;
  display: inline-block;
  color: #5C5C5C;
  content: "\f0e0";
  font-family: FontAwesome;
}

.footer-second .NL .input-box {
  margin-left: 10px;
  padding-left: 25px;
  width: 67%;
  border: 1px solid #3F3F3F;
  border-right: 0;
  background: 0 0;
  color: #fff;
  font-size: 11px;
}
.footer-second .NL .txt-box {
  color: #969696;
  font-size: 11px;
}

.footer-second .txt-box 
{
  padding: 0 12px;
  height: 30px;
  border: 0;
  background-color: transparent;
  background-image: none;
  color: #555;
  font-size: 12px;
  line-height: 30px;
  -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.footer-second .NL .NL-btn
 {
  background: #3F3F3F;
  color: #fff;
}
.footer-second .left 
{
  float: left;
}
/* End Footer */





/* Start Copyright */

.copyright {
  border-top: 1px solid #363636;
  padding: 20px;
  background: #1D1D1D;
  color: #777;
  font-size: 11px;

}
.copyright b
{
  color: #e7512f;

}
.copyright span a
{
    color: #7C7C7C;
    text-decoration: underline;
}
.copyright ul {
  margin: 0
}

.copyright ul li {
  display: inline-block;
}

.copyright ul li a {
  color: #777;
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

/* End Copyright */
_______________________________________________________________________________________
